* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

body {
    background-color: #f5f5fb;
}




.container {
    margin: 20px;
}

/* ------------------------------------------------ */

.covid {
    display: grid;
    grid-template-areas: 
        "header casesCountries"
        "listBox casesCountries"
        "map casesCountries";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100px 200px 1fr;
}

/* ------------------------------------------------ */

.covid .header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.covid .header h1 {
    font-size: 46px;
}

.covid .header select {
    min-height: 100%;
    padding: 10px;
    border: none;
    outline: none;
}


/* ------------------------------------------------ */

.covid .list-box {
    grid-area: listBox;
    display: flex;
    justify-content: space-between;
}

.covid .list-box .boxInfo {
    padding: 20px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background-color: white;
    flex: 1 auto;
}

.covid .list-box .boxInfo:not(:last-child) {
    margin-right: 10px;
}

.covid .list-box .boxInfo h3 {
    color: #9e9c9e;
}

.covid .list-box .boxInfo .perDay, 
.covid .list-box .boxInfo .total {
    font-size: 27px;
    margin-top: 10px;
}


/* ------------------------------------------------ */

.covid .map {
    grid-area: map;
    background-color: white;
    height: 100%;
}

.covid .map .leaflet-container {
    height: 100%;
}

/* ------------------------------------------------ */

.covid .cases-countries {
    grid-area: casesCountries;
    background-color: white;
    padding: 20px;
    margin: 20px 20px 0px 0px;
}

.covid .cases-countries .cases ul {
    margin-top: 20px;
}

.covid .cases-countries .cases ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

/* ------------------------------------------------ */

.covid .cases-countries .cases {
    max-height: 606px;
    overflow: hidden;
}


